---
title: Video Transmitters
order: 4
---
Or VTXs in short. Due to how variable the analog video market has become, there'll be quite a lot of them listed here so that you can hopefully find at least one in stock near you. Higher output power = higher range, but it's not 1-1, and output power isn't everything. A cleaner VTX at lower power will likely outrange a noisy VTX that's blasting 2W+
