# Camera
Shown here is an analog camera - it sends an analog signal to the FC where the OSD (On Screen Display) is overlaid on top by a special OSD chip, that video signal then goes to the video transmitter to be transmitted.

There are also digital video systems, where the camera sends the video signal over with digital signals directly to its specific video transmitter, which only works with specific goggles. 

Digital systems offer better video quality - Analog is like old TV, Digital is like modenr video streaming - but digital stuff is more expensive and while some systems offer lower latency than analog, some take way longer.