# VTX
Video Transmitter - As the name would suggest, its job is to transmit video from the camera to the goggles. Usually on 5.8GHz, but there also 2.4GHz and 1.2GHz VTXs. But they're also **much** less common.

The VTX here is an analog VTX. It takes in analog video signal and transmits it to the goggles still as an analog signal. It only needs power and a video signal to work, but can also accept a control signal to change channels and power levels.

Digital video transmitters are necessary when using a digital system. Since the camera is connected directly to it and the video never goes through the FC, the OSD is instead sent along the video feed as raw data. So a digital VTX will need power, and a direct data connection to the FC to get the OSD info.

The main spec for VTXs is the output power - measured in mW (milliwatts), the higher the number, the further the signal will go, but it doesn't scale linearly. A 4x increase in power will only give you about 2x the range.