{
	"semi": false,
	"singleQuote": false,
	"trailingComma": "none",
	"useTabs": true,
	"bracketSameLine": false,
	"endOfLine": "auto",
	"singleAttributePerLine": true,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"tailwindStylesheet": "./src/routes/layout.css"
}
