/* ========================================================================================================================================================================================= */
/* =================================================================================== Builds page styles ==================================================================================*/
/* ========================================================================================================================================================================================= */

.difficulty-cards {
    display: flex;
    /* margin-left: 170px !important; */
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    align-content: flex-start;
    text-align: center;
  }
  
  .mini-card {
    height: 80px;
    line-height: 80px;
    width: 120px;
    background-color: var(--darkbg3);
    border-radius: 15px;
    margin: 20px;
    border-top: 5px solid var(--white1);
    font-size: 1.5em;
  }
  
  .mini-card.easy {
    border-top: 5px solid var(--green);
  }
  
  .mini-card.medium {
    border-top: 5px solid var(--orange);
  }
  .mini-card.hard {
    border-top: 5px solid var(--red);
  }
  
  .mini-card-text {
    line-height: normal;
    position: relative;
    left: 130px;
    bottom: 75px;
    width: max-content;
    font-size: 1.2rem !important;
  }
  
  .build-cards {
    margin-left: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    align-content: center;
  }
  
  @media only screen and (max-width: 600px) {
    .build-cards {
      margin-left: 0px !important;
    }
  }
  
  
  .build-card {
    height: 160px;
    width: 300px;
    background-color: var(--darkbg3);
    margin: auto;
    margin-top: 50px;
    border-radius: 30px;
    box-shadow:0px -20px var(--green);
    transition: all ease-in-out .3s;
    transition-delay: .37s;
    text-decoration: none;
    position: relative;
  }
  .build-card:hover {
    height: 400px;
    transition-delay: 0s;
  }
  
  
  .build-card.medium {
    box-shadow:0px -20px var(--orange);
  }
  
  .build-card.hard {
    box-shadow:0px -20px var(--red);
  }
  
  .build-card .card-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
  }
  
  .card-circle {
    height: 80px;
    width: 160px;
    background-color: var(--green);
    margin: auto;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
  
  .card-circle.medium {
    background-color: var(--orange);
  }
  
  .card-circle.hard {
    background-color: var(--red);
  }
  
  .card-circle-rounded {
    position: relative;
    height: 40px;
    width: 40px;
    margin-left: -40px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 20px -20px var(--green);
  }
  
  .card-circle-rounded.medium {
    box-shadow: 20px -20px var(--orange);
  }
  
  .card-circle-rounded.hard {
    box-shadow: 20px -20px var(--red);
  }
  
  .card-circle-rounded-2 {
    position: relative;
    bottom: 40px;
    height: 40px;
    width: 40px;
    margin-left: 160px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: -20px -20px var(--green);
  }
  .card-circle-rounded-2.medium {
    box-shadow: -20px -20px var(--orange);
  }
  
  .card-circle-rounded-2.hard {
    box-shadow: -20px -20px var(--red);
  }
  
  .icon-div {
    position: relative;
    bottom: 120px;
    height: 130px;
    width: auto;
    margin: auto;
    margin-left: 80px;
    transition: .3s;
  }
  .icon-div.cine {
    height: 130px;
    width: 110px;
    margin: auto;
    bottom: 106px;
  }
  
  .icon {
    height: inherit;
    width: inherit;
    width: 130px;
    -webkit-filter: drop-shadow(0px 0px 15px var(--transparent-dark));
    filter: drop-shadow(0px 0px 15px var(--transparent-dark));
    transition: all .3s;
  }
  .icon.cine {
    width: 110px;
    height: 110px;
  }
  
  .card-title {
    position: relative;
    font-size: 2em;
    text-align: left;
    top: -130px;
    padding-left: 10px;
  }
  
  
  .build-card:hover  .icon-div { transform: translateY(-7px)}
  .build-card:hover  .build-short {  visibility: visible;}
  
  .title-under {
    position: relative;
    height: 3px;
    width: 0px;
    transition: all .3s;
    top: -7px;
  }
  
  .build-card:hover   .title-under.easy {background-color: var(--green);}
  .build-card:hover   .title-under.medium {background-color: var(--orange);}
  .build-card:hover   .title-under.hard {background-color: var(--red);}
  
  .build-card:hover   .title-under.cine {width: 185px;}
  .build-card:hover   .title-under.race {width: 115px;}
  .build-card:hover   .title-under.s-tooth {width: 160px;}
  
  .build-short {
    position: relative;
    top: -145px;
    font-size: 1.2em;
    visibility: hidden;
    height: 0px;
  }
  
  .short1 {
    color: transparent;
    transform: translateY(5px);
    transition: all .2s .025s;
  }
  
  .build-card:hover    .short1 {color: var(--white1); transform: translateY(0px);}
  
  .short2 {
    color: transparent;
    transform: translateY(5px);
    transition: all .2s .075s;
  }
  
  .build-card:hover    .short2 {color: var(--white1); transform: translateY(0px);}
  
  .short3 {
    color: transparent;
    transform: translateY(5px);
    transition: all .2s .15s;
  }
  
  .build-card:hover    .short3 {color: var(--white1); transform: translateY(0px);}
  
  .short4 {
    color: transparent;
    transform: translateY(5px);
    transition: all .2s .225s;
  }
  
  .build-card:hover    .short4 {color: var(--white1); transform: translateY(0px);}
  
  .short5 {
    color: transparent;
    transform: translateY(5px);
    transition: all .2s .225s;
  }
  
  .build-card:hover    .short5 {color: var(--white1); transform: translateY(0px);}
  
  .build-card.race {
    order: 0;
  }
  
  
  .table {
    margin-left: 170px;
    margin-bottom: 10px;
    background-color: var(--darkbg2);
    width: 80%;
    font-size: 1.2em;
    border-collapse: collapse;
    border-radius: 30px;
    overflow: hidden;
    /* box-shadow: 0px 3px 0px var(--white1), 3px 0px 0px var(--white1), 0px -3px 0px var(--white1), -3px 0px 0px var(--white1); */
  }
  
  .table-offset {
    margin-top: 50px;
  }
  
  th {
    font-weight: initial;
    color: var(--highlight);
    background-color: var(--darkbg3);
  }
  
  th.table-fix-padding {
    padding-left: 18px;
  }
  th.table-fix-padding2 {
    padding-right: 18px;
  }
  
  th, td {
    text-align: center;
    padding: 10px;
    /* border: 2px solid var(--darkbg4) */
  }
  
  tr:nth-child(even), .table-fix-bgd {
    background-color: var(--darkbg3);
  }
  
  .table-fix-bgl {
    background-color: var(--darkbg2) !important;
  }
  
  
  
  
  
  /* disables animations on load */
  .no-anim-load {
    animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
  }
  iframe[seamless] {
    border: none;
  }