---
title: Video
price: WIP
order: 1
href: /equipment/video
description: Goggles and video receivers for flying digital or analog
seoDescription: FPV video gear recommendations, from budget-friendly analog goggles to high-end digital setups and matching receiver modules.
model: hdzeroGoggles2
color: success
specs:
  - title: Analog Goggles
    description: Box & Slimline
    icon: goggles
  - title: Digital Goggles
    description: Box & Slimline
    icon: goggles
  - title: Video Receivers
    description: Analog & Digital
    icon: cpu
  - title: Antennas
    description: Directional & Omni
    icon: antenna
---

Cameras, goggles, antennas, video receivers, and any other misc accessories for all of your video equipment. Can't have FPV without the "view" part