---
title: 5" Beginner
subtitle: Cheap, durable, and easy to put together and repair
color: success
seoDescription: A beginner-friendly 5-inch FPV drone build using affordable, durable parts that are easy to assemble, fly, and repair.
seoImage: /builds/s1v5.png
---

Specced out to be easy to assemble, with affordable and accessible parts and electronics that should be easy to solder. This build should be perfect to get you started in the world of FPV.
