---
title: Frames
order: 2
---
Most of these should have both a True X or Wide X/Squish X variant and a Deadcat variant. X frames are better for pure freestyle, deadcat frames make sure that you get props out of your camera views, making them better for cinematic shots. You can generally fit up to 5.2" props on a 5" frame, feel free to experiment with which ones feel the best for you.
