---
title: GEPRC MK5
url: https://geprc.com/product/geprc-gep-mk5-frame/
order: 4
color: warning
price: $59.99
image: geprc-mk5.jpg
tags:
  - 130.0g
  - 5mm Arms
  - "2.5mm Plates<Bottom/Mid/Top>"
  - Aluminum Cam Cage
  - 14-20mm Cams
  - 30x30 Stacks
  - 20/30.5mm VTXs
---
The MK4 (Mark 4) was pretty popular many years ago. Now it's been cloned to oblivion, you shouldn't buy one no matter how cheap it is. But you could buy one of these! It's a much more up-to-date design with X/DC variants that can hold analog and DJI O3/O4 pro cams, it's great for cinematic use and casual freestyle alike.
