---
title: What to get when starting out?
order: 2
---
Pricing out of the way, next up you likely want to know what to get when starting out.

- Radio - General rule of thumb - skip everything below $50, and everything that doesn't use ELRS (more about ELRS further down). The only exception is something like a [Radiomaster T8L](https://radiomasterrc.com/products/t8l-radio-controller) ($35) if you really need to save every penny. If not, look for the [Radiomaster Pocket](https://radiomasterrc.com/products/pocket-radio-controller-m2) ($72), or their higher end models like the [Boxer](https://radiomasterrc.com/products/boxer-radio-controller-m2) ($154), [TX15](https://radiomasterrc.com/products/tx15-radio-controller-elrs-m2) ($153), or [GX12](https://radiomasterrc.com/products/gx12-dual-band-gemini-x-radio-controller) ($169).
- Goggles - The minimal viable option are the [Eachine EV800D](https://banggood.com/Eachine-EV800D-5_8GHz-40CH-FPV-Goggles-5-inch-800x480-HD-DVR-Diversity-Dual-RX5808-PRO-Receiver-Removable-Screen-with-Battery-for-FPV-Drone-Racing-p-1180354), they started around $100, but now they're seemingly only available on Banggood with a varying price, now around $130. There are tons of clones of these goggles everywhere else. The next step up would be the Skyzone [Cobra SD](https://www.skyzonefpv.com/products/skyzone-lcd-screen-cobra-sd-fpv-goggle-with-diversity-receiver) ($202) or [Cobra X](https://www.skyzonefpv.com/products/skyzone-cobra-x-v2-5-8ghz-48ch-steadyview-receiver-fpv-goggles-with-dvr) ($272). Anything more expensive shouldn't come from an FAQ answer.
- Drone - I wouldn't recommend anything past a 1s tinywhoop or a 1-2s 2-3" drone as a "one-size-fits-all" answer. BetaFPV is likely the undisputed best option when it comes to tinywhoops. Their [Air series](https://betafpv.com/collections/air-whoops) ($100) are some of the best value pre-built whoops on the market, offering both 65 and 75mm versions (better suited for indoors and outdoors respectively). If you're going for an open-prop build, look for something from [Flywoo](https://flywoo.net/), [Sub250](https://sub250.com/), or [HappyModel](https://www.happymodel.cn/).
- Charger - [ViFly WhoopStor 3](https://viflydrone.com/products/vifly-whoopstor-6-ports-1s-battery-storage-charger-discharger) ($33). It's ubiquitous, everything else in this product range will at best be on par with it. You'll find a ton of people using it who can help you with any questions you have, there are many custom 3D printed cases and accessories available for it as well. If you go with something that runs 2s, get its larger brother - [ToothStor](https://viflydrone.com/collections/lipro-battery-charger/products/vifly-toothstor-4-port-2s-balance-charger-with-storage-mode).
- Batteries - For 65mm whoops, go with 250-350mAh, for 75mm go with 400-700mAh. Most modern 1s batteries all use the same cells, you'll most often find [BetaFPV Lava II](https://betafpv.com/products/lava-ii-1s-battery?variant=42566848839814) ($20-25), but there are other options from Tattu, NewBeeDrone, Dogcom, and others.