---
title: Foxeer Razer
url: https://www.foxeer.com/1200tvl-foxeer-micro-razer-fpv-camera-pal-ntsc-switchable-1-8mm-lens-4ms-latency-g-265
order: 5
color: warning
price: $22.90
image: foxeer-razer.jpg
tags:
  - 1200 TVL
  - 150°
  - "14/19mm<Nano/Micro>"
  - "1/3\""
  - "16:9/4:3"
  - 4.5g
---
These were my favorite cams back in the day, now they seem almost always out of stock, or at a highly marked-up price. I'm still holding out hope that they'll come back, or that you can possibly find a good deal on one.
