@font-face {
	font-family: 'Reem Kufi';
	src: url('/uploads/fonts/ReemKufi-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

html,
body {
	background-color: #0f0f0f;
	color: #f7f7f7;
	font-size: 16px;
	font-family: 'Reem Kufi', sans-serif;
}

body {
	padding: 20px;
}

.container {
	height: fit-content;
	max-width: 24rem;
	min-width: 18rem;
	border-left: 4px solid !important;
	padding-left: 0.5rem;
}

.title {
	font-size: 1.5rem /* 24px */;
	line-height: 2rem /* 32px */;
}

.title.green {
	color: #87cc52;
}
.title.orange {
	color: #ff9742;
}
.title.red {
	color: #d6395b;
}

.container.green {
	border-color: #87cc52 !important;
}
.container.orange {
	border-color: #ff9742 !important;
}
.container.red {
	border-color: #d6395b !important;
}

.points {
	display: flex;
	justify-content: space-between;
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
	flex-wrap: wrap;
	letter-spacing: 0.01em;
	font-size: 1rem /* 16px */;
	line-height: 1.5rem /* 24px */;
	color: #adadad;
}

.price {
	color: #e0e0e0;
}

.category {
	font-size: 2.25rem /* 36px */;
	line-height: 2.5rem /* 40px */;
	letter-spacing: -0.025rem;
	margin-bottom: 1.5rem;
}

.list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	list-style-position: outside;
	padding-left: 4px;
}
.list-item {
	font-size: 15px;
	list-style: none;
	margin-bottom: 0.5rem;
}
.list-item.link {
	overflow-wrap: anywhere;
}

.list-item.link a {
	color: var(--highlight);
}

.list-item.link a:hover {
	background-color: var(--highlight-transparent);
	text-decoration: none;
	transition-duration: 300ms;
	border-radius: 0.25rem;
}

.point1,
.point2,
.point2,
.point4,
.point5,
.price {
	margin-right: 0.6rem;
}

.md.ml-4 {
	transform-origin: top left;
	scale: 0.9;
}


.article-preview {
	padding-right: 150px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.article-top {
	display: flex;
	flex-direction: column;
}

.article-img {
	position: relative;
	width: fit-content;
	border-radius: 1rem/* 16px */;
	user-select: none;
	overflow: hidden;
}

.img-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 1rem/* 16px */;
}

.article-img .img {
	width: 700px;
	height: 300px;
	border-radius: 1rem/* 16px */;
	object-fit: cover;
}

.article-info {
	display: flex;
	flex-direction: column;
	padding-top: 1rem;
	padding-left: 1rem;
}

.article-title {
	font-size: 3rem /* 24px */;
	line-height: 1;
	margin-bottom: 0.5rem;
	font-weight: 500;
}

.article-preview.Guides .article-title {color: #87cc52;}
.article-preview.Tutorials .article-title {color: #5ad8e6;}
.article-preview.News .article-title {color: #d6395b;}
.article-preview.Reviews .article-title {color: #ffcc00;}
.article-preview.Misc .article-title {color: #9550ba;}

.article-preview.Guides .article-date {color: #87cc52;}
.article-preview.Tutorials .article-date {color: #5ad8e6;}
.article-preview.News .article-date {color: #d6395b;}
.article-preview.Reviews .article-date {color: #ffcc00;}
.article-preview.Misc .article-date {color: #9550ba;}

.article-preview.Guides .article-author {color: #87cc52;}
.article-preview.Tutorials .article-author {color: #5ad8e6;}
.article-preview.News .article-author {color: #d6395b;}
.article-preview.Reviews .article-author {color: #ffcc00;}
.article-preview.Misc .article-author {color: #9550ba;}

.article-preview.Guides .img-cover {background-image: linear-gradient(to right, rgb(0 0 0 / 0.5), rgb(135 204 82 / 0.5) );}
.article-preview.Tutorials .img-cover {background-image: linear-gradient(to right, rgb(0 0 0 / 0.5), rgb(90 216 230 / 0.5) );}
.article-preview.News .img-cover {background-image: linear-gradient(to right, rgb(0 0 0 / 0.5), rgb(214 57 91 / 0.5) );}
.article-preview.Reviews .img-cover {background-image: linear-gradient(to right, rgb(0 0 0 / 0.5), rgb(255 204 0 / 0.5) );}
.article-preview.Misc .img-cover {background-image: linear-gradient(to right, rgb(0 0 0 / 0.5), rgb(149 80 186 / 0.5) );}

.article-preview.Guides .article-img {box-shadow: 0 10px 30px #00000059, -6px 0px 0px 0px #87cc52;}
.article-preview.Tutorials .article-img {box-shadow: 0 10px 30px #00000059, -6px 0px 0px 0px #5ad8e6;}
.article-preview.News .article-img {box-shadow: 0 10px 30px #00000059, -6px 0px 0px 0px #d6395b;}
.article-preview.Reviews .article-img {box-shadow: 0 10px 30px #00000059, -6px 0px 0px 0px #ffcc00;}
.article-preview.Misc .article-img {box-shadow: 0 10px 30px #00000059, -6px 0px 0px 0px #9550ba;}

.article-description {
	font-size: 1.875rem /* 30px */;
}

.article-credit {
	font-size: 1.25rem /* 20px */;
	line-height: 1.5rem /* 24px */;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.article-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.article-content img {
	max-width: 100%;
	border-radius: 1rem/* 16px */;
	display: block
}


/* A lot of messy bodged CMS styles */

/* Don't touch unless needed */

[data-slate-editor] { 
	-webkit-user-modify: read-write !important; 
}

:root {
	--background: #0f0f0f;
	--background-light: #1e1e1e;
	--background-light1: #292929;
	--light: #f7f7f7;
	--highlight: #90d95b;
	--highlight-transparent: #90d95b5e;
}

html,
	#nc-root {
	background-color: var(--background);
}

body {
	padding: 0px !important;
}

.css-12b66la-AppHeaderContent,
.css-y7r3-AppHeader {
	background-color: var(--background-light);
}

.css-y7r3-AppHeader {
	background-color: var(--background-light) !important;
}

.css-5wgw3f-ListCard-card {
	background-color: var(--background-light) !important;
	color: var(--light) !important;
	transition: all 300ms !important;
}
.css-5wgw3f-ListCard-card:hover {
	background-color: var(--highlight-transparent) !important;
	color: var(--background) !important;
}
.css-1t9i08i-ListCardLink {
	background-color: transparent !important;
}
.css-1t9i08i-ListCardLink:hover {
	background-color: transparent !important;
}

.css-1hvrgvd-CollectionTopContainer-card-cardTop {
	background-color: var(--background-light) !important;
}
h1,
h2 {
	color: var(--light) !important;
}

.css-1gj57a0-SidebarContainer-card {
	background-color: var(--background-light) !important;
	color: var(--light) !important;
}
.css-1d3rhic-SidebarNavLink-sidebarNavLinkActive-SidebarNavLink {
	border: none !important;
	transition: all 300ms !important;
}
.css-1d3rhic-SidebarNavLink-sidebarNavLinkActive-SidebarNavLink:hover {
	background-color: var(--highlight-transparent) !important;
	color: var(--light) !important;
}

.css-1d3rhic-SidebarNavLink-sidebarNavLinkActive-SidebarNavLink.sidebar-active {
	background-color: var(--highlight-transparent) !important;
	color: var(--light) !important;
	border-left: 4px solid var(--highlight) !important;
}

.css-1blbyw7-SearchInput {
	background-color: var(--background-light1) !important;
	color: var(--light) !important;
}

.css-2oej7z-ToolbarContainer,
.css-8s5rs3-ToolbarContainer,
.css-1b0jsy4 {
	background-color: var(--background-light) !important;
	color: var(--light) !important;
}

.css-1b0jsy4 {
	border: none !important;
}

.css-8s5rs3-ToolbarContainer {
	border-bottom: 1px solid var(--background-light1) !important;
}

.css-15ugu1-StyledP {
	color: var(--light) !important;
}

.css-6o0rf-PreviewPaneContainer-ControlPaneContainer {
	background-color: var(--background) !important;
	color: var(--light) !important;
	transition: color 300ms !important;
	transition: background-color 300ms !important;
}
.css-11r6p0f-BackStatus-BackStatusUnchanged-badge-textBadge-textBadgeSuccess {
	color: var(--highlight) !important;
}
.css-1whurdv-BackCollection {
	color: var(--light) !important;
}
.css-1ixjrmh-ToolbarButton-button-default-buttonMargin-noOverflow-DeleteButton-lightRed {
	background-color: rgb(84 27 27) !important;
}
.css-1ixjrmh-ToolbarButton-button-default-buttonMargin-noOverflow-DeleteButton-lightRed:hover {
	background-color: rgb(110, 37, 37) !important;
}
.css-16pehfe-StyledDropdownButton-button-default-caret-caretDown-DropdownButton-noOverflow-PublishedToolbarButton-publishedButton {
	background-color: rgb(30 58 63) !important;
}
.css-16pehfe-StyledDropdownButton-button-default-caret-caretDown-DropdownButton-noOverflow-PublishedToolbarButton-publishedButton:hover {
	background-color: rgb(35, 75, 82) !important;
}
.css-abwcjt-ToolbarSectionBackLink-toolbarSection,
.css-1acatj1-ToolbarSectionMeta-toolbarSection {
	border: none !important;
}
.css-abwcjt-ToolbarSectionBackLink-toolbarSection:hover,
.css-abwcjt-ToolbarSectionBackLink-toolbarSection:focus {
	background-color: rgb(255 255 255 / 15%) !important;
}

.css-1qu85o2-FieldLabel-fieldLabel {
	background-color: var(--background-light) !important;
	color: var(--light) !important;
}
.css-1qu85o2-FieldLabel-fieldLabel::after {
	background-color: var(--background) !important;
}
.css-1pr3myi-FieldLabel-fieldLabel {
	background-color: var(--highlight) !important;
}
.css-1pr3myi-FieldLabel-fieldLabel::after {
	background-color: var(--background) !important;
}

.css-n3v41w-control,
.css-wesa1q-TextControl,
.css-83wr9v,
.css-83wr9v {
	background-color: var(--background-light) !important;
	color: var(--light) !important;
	border-color: transparent !important;
	border-width: 4px !important;
	border-radius: 0px 10px 10px !important;
}

.css-d5zfyc-control,
.css-3yr7zq-TextControl,
.css-188efjc {
	border-color: var(--highlight) !important;
	border-width: 4px !important;
	background-color: var(--background-light) !important;
	color: var(--light) !important;
	border-radius: 0px 10px 10px !important;
}

.css-1uccc91-singleValue {
	color: var(--light) !important;
}

.css-1ixc7c5-menu {
    color: var(--light) !important;
    background-color: #0000003d !important;
    backdrop-filter: blur(8px) !important;
    box-shadow: rgba(5, 5, 5, 0.15) 0px 4px 12px 6px !important;
    outline: 2px solid #ffffff0f;
}

.css-11unzgr {
	border-radius: 10px !important;
	padding: 0px !important;
	background-color: transparent !important;
}

.css-11unzgr:first-child {
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
}
.css-11unzgr:last-child {
	border-bottom-left-radius: 10px !important;
	border-bottom-right-radius: 10px !important;
}

.css-u267yo-option {
	background-color: var(--highlight-transparent) !important;
	color: var(--light) !important;
}

.css-1sqg7rp-option {
	background-color: var(--highlight-transparent) !important;
	color: var(--light) !important;
	border-left: solid 4px !important;
	border-color: var(--highlight) !important;
}

.Resizer.vertical {
	background-color: var(--background) !important;
}

.Resizer.vertical::before {
	background-color: var(--background-light1) !important;
}

.css-1jl34xb-PreviewPaneFrame {
	border-radius: 0px !important;
}

.css-tsu4ds-DropdownList-dropdownList-DropdownList {
    color: var(--light) !important;
    background-color: #0000003d !important;
    backdrop-filter: blur(8px) !important;
    box-shadow: rgba(5, 5, 5, 0.15) 0px 4px 12px 6px !important;
    outline: 2px solid #ffffff0f;
}
.css-1hu7ve8-button-dropdownItem-StyledMenuItem {
	border-bottom: none !important;
}
.css-1hu7ve8-button-dropdownItem-StyledMenuItem:hover {
	background-color: var(--highlight-transparent) !important;
	color: var(--highlight) !important;
}
.css-1u78kww-StyledWrapper-ToolbarDropdown-buttonMargin .ei6fm2r1 {
	color: var(--highlight) !important;
}

.css-182avcw {
	background-color: var(--background-light1) !important;
	border: 4px solid transparent !important;
}
.css-12fzmby {
	color: var(--light) !important;
	border-color: var(--highlight) !important;
	border-width: 4px !important;
	border-radius: 0px 10px 10px !important;
	background-color: var(--background-light1) !important;
}
.css-1rsca1y-ControlContainer.css-1qu85o2-FieldLabel-fieldLabel {
	background-color: var(--background-light1) !important;
}
.css-1rsca1y-ControlContainer.css-1qu85o2-FieldLabel-fieldLabel::after {
	background-color: var(--background-light1) !important;
}
.css-b6se59-StyledCode {
	background-color: var(--background-light) !important;
	color: var(--light) !important;
	padding: 0.25rem !important;
}
.css-mrwfgl-FileWidgetButton-button-badge-backgroundBadge-badge {
	color: var(--highlight) !important;
	background-color: var(--highlight-transparent) !important;
}
.css-1xda84k-FileWidgetButtonRemove-button-badge-backgroundBadge-badgeDanger {
	background-color: rgb(110, 37, 37) !important;
	color: rgb(255, 0, 59) !important;
	transition: filter 0.2s ease-in-out !important;
}
.css-mrwfgl-FileWidgetButton-button-badge-backgroundBadge-badge, .css-1xda84k-FileWidgetButtonRemove-button-badge-backgroundBadge-badgeDanger:hover {
	filter: brightness(1.4) !important;
}
.css-1265b6l-TopBarContainer {
	border-radius: 0px 6px 0px 0px !important;
	background-color: var(--background-light1) !important;
}

.css-1iqjs8m-ControlContainer-Shortcode > .css-1qu85o2-FieldLabel-fieldLabel {
	background-color: var(--background-light1) !important;
}
.css-1iqjs8m-ControlContainer-Shortcode > .css-1qu85o2-FieldLabel-fieldLabel::after {
	background-color: var(--background-light) !important;
}
.css-182avcw .css-1qu85o2-FieldLabel-fieldLabel::after {
	background: var(--background-light1) !important;
}
.css-12fzmby .css-1qu85o2-FieldLabel-fieldLabel::after {
	background: var(--background-light1) !important;
}
.css-1iqjs8m-ControlContainer-Shortcode .css-1vur7zs-FieldLabel-fieldLabel::after {
	background: var(--background-light) !important;
}
.css-118di0z-StyledH4 {
	color: var(--light) !important;
}
.css-isnoua {
	background-color: var(--background-light) !important;
	color: var(--light) !important;
}

.css-zfnuhu-ToggleBackground-BooleanBackground, .css-1uwwzhh-ToggleBackground {
	background-color: var(--highlight) !important;
}

.css-we3pzg-ToggleBackground-BooleanBackground {
	background-color: var(--background-light1) !important;
}

.css-mj84iz-DropdownList-dropdownList-DropdownList.e1d27pw02 {
    color: var(--light) !important;
    background-color: #0000003d !important;
    backdrop-filter: blur(8px) !important;
    box-shadow: rgba(5, 5, 5, 0.15) 0px 4px 12px 6px !important;
    outline: 2px solid #ffffff0f;
}


.css-19jgu1s-ToolbarToggleLabel-ToolbarToggleLabel.e169jtoy3 {
	color: var(--highlight) !important;
}

.css-1wgdcls-ToolbarToggleLabel-ToolbarToggleLabel {
	color: var(--highlight) !important;
}

a.css-6gjfue-StyledA.e19otniy11 {
	color: var(--highlight) !important;
}

.css-1tp47zl-multiValue {
	background-color: rgb(126 126 126 / 0.2) !important;
	transition: all 300ms;
}

.css-1tp47zl-multiValue:hover {
	background-color: rgb(126 126 126 / 0.25) !important;
}

.css-8l997j {
	color: var(--light) !important;
}

.css-1tp47zl-multiValue.css-8l997j:hover {
	color: var(--highlight) !important;
}

.css-8l997j:hover {
	color: var(--highlight) !important;
}

.css-1tp47zl-multiValue:hover.css-8l997j {
	color: var(--light) !important;
}

.css-h5hswg {
	margin-left: 2px !important;
}

.css-h5hswg:hover {
	background-color: rgb(110, 37, 37) !important;
}
.css-14hxnzs-TextControl {
	background-color: var(--background-light) !important;
	border-width: 4px !important;
	border-radius: 0px 10px 10px !important;
}

.css-1eeq9l0-TextControl {
	background-color: var(--background-light) !important;
	border-width: 4px !important;
	border-radius: 0px 10px 10px !important;
}

.css-1noq96f-FieldLabel-fieldLabel::after {
	background-color: var(--background) !important;
}

.css-1i85phj-CloseButton-button {
	background-color: var(--background-light) !important;
	color: var(--highlight) !important;
}

.css-1f3mf5k-StyledModal {
	background-color: var(--background) !important;
}

.css-1ztge6 {
	backdrop-filter: blur(8px) !important;
}

.css-1er4xqr-Card {
	border-color: var(--background-light) !important;
}

.css-ch614s-CardImageWrapper-checkerboard {
	background-color: var(--background-light) !important;
	background-image: linear-gradient(45deg, rgb(50, 50, 50) 25%, transparent 25%, transparent 75%, rgb(50, 50, 50) 75%, rgb(50, 50, 50)), linear-gradient(45deg, rgb(50, 50, 50) 25%, transparent 25%, transparent 75%, rgb(50, 50, 50) 75%, rgb(50, 50, 50)) !important;
	border-bottom-color: var(--background-light) !important;
}

.css-1v1y2wn-Card {
	border: 2px solid var(--highlight) !important;
}

.css-58ai8s-StyledDropdownButton-button-default-caret-caretDown-Button-button-medium-grayText-ControlButton {
    color: var(--highlight) !important;
}

.css-1fh4556-ViewControlsButton-button {
    color: var(--highlight) !important;
}

.css-12yqrwa-AppHeaderNavLink-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton.header-link-active .ei6fm2r1 {
    color: inherit !important;
}

.css-104dqk8-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton:hover, .css-104dqk8-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton:active, .css-104dqk8-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton:focus {
    color: var(--highlight) !important;
}

.css-104dqk8-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton:hover .ei6fm2r1, .css-104dqk8-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton:active .ei6fm2r1, .css-104dqk8-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton:focus .ei6fm2r1 {
    color: inherit !important;
}

.css-pp9jk1-DropdownList-dropdownList-DropdownList {
    color: var(--light) !important;
    background-color: #0000003d !important;
    backdrop-filter: blur(8px) !important;
    box-shadow: rgba(5, 5, 5, 0.15) 0px 4px 12px 6px !important;
    outline: 2px solid #ffffff0f;
}

.css-1gbg97n-button-dropdownItem-StyledMenuItem:focus, .css-1gbg97n-button-dropdownItem-StyledMenuItem:active, .css-1gbg97n-button-dropdownItem-StyledMenuItem:not(:focus), .css-1gbg97n-button-dropdownItem-StyledMenuItem:not(:active) {
    background: var(--highlight-transparent) !important;
    color: var(--highlight) !important;
    border-left: 4px solid var(--highlight) !important;
    border-bottom: 0px !important;
}

.css-1hu7ve8-button-dropdownItem-StyledMenuItem {
    border-left: 4px solid transparent !important;
}

.css-rm5zaq-DropdownList-dropdownList-DropdownList {
    color: var(--light) !important;
    background-color: #0000003d !important;
    backdrop-filter: blur(8px) !important;
    box-shadow: rgba(5, 5, 5, 0.15) 0px 4px 12px 6px !important;
    outline: 2px solid #ffffff0f;
}

.css-xsmg2p-button-dropdownItem-StyledMenuItem:focus, .css-xsmg2p-button-dropdownItem-StyledMenuItem:active, .css-xsmg2p-button-dropdownItem-StyledMenuItem:not(:focus), .css-xsmg2p-button-dropdownItem-StyledMenuItem:not(:active) {
    border-bottom: 0px !important;
    border-left: 4px solid transparent !important;
    color: var(--light) !important;
}

.css-xsmg2p-button-dropdownItem-StyledMenuItem:hover {
    background: var(--highlight-transparent) !important;
}

.css-13uciye-button-dropdownItem-StyledMenuItem:focus, .css-13uciye-button-dropdownItem-StyledMenuItem:active, .css-13uciye-button-dropdownItem-StyledMenuItem:not(:focus), .css-13uciye-button-dropdownItem-StyledMenuItem:not(:active) {
    background-color: var(--highlight-transparent) !important;
    border-bottom: 0px !important;
    border-left: 4px solid var(--highlight) !important;
    color: var(--highlight) !important;
}

.css-12yqrwa-AppHeaderNavLink-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton:hover .ei6fm2r1, .css-12yqrwa-AppHeaderNavLink-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton:active .ei6fm2r1, .css-12yqrwa-AppHeaderNavLink-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton:focus .ei6fm2r1 {
    color: inherit !important;
}

.css-12yqrwa-AppHeaderNavLink-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton.header-link-active {
    color: var(--highlight) !important;
}

.css-12yqrwa-AppHeaderNavLink-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton:hover, .css-12yqrwa-AppHeaderNavLink-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton:active, .css-12yqrwa-AppHeaderNavLink-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton:focus {
    color: var(--highlight) !important;
}

.css-1r8q2q6-WorkflowTop-card-cardTop {
    background-color: var(--background-light) !important;
}

.css-1k769dv-ColumnHeader-ColumnHeader {
    background-color: #d6395b !important;
    color: var(--background) !important;
}

.css-j7m31j-ColumnHeader-ColumnHeader {
    background-color: #ffcc00 !important;
    color: var(--background) !important;
}

.css-15quhec-ColumnHeader-ColumnHeader {
    background-color: #87cc52 !important;;
    color: var(--background) !important;
}

.css-1hjavr2-WorkflowTopHeading-cardTopHeading {
    color: var(--light) !important;
}

.css-1njtcvy-column-WorkflowList::before, .css-1njtcvy-column-WorkflowList::after {
    background: var(--background-light) !important;
}

.css-16uwhlf-DropdownList-dropdownList-DropdownList {
    color: var(--light) !important;
    background-color: #0000003d !important;
    backdrop-filter: blur(8px) !important;
    box-shadow: rgba(5, 5, 5, 0.15) 0px 4px 12px 6px !important;
    outline: 2px solid #ffffff0f;
}

.css-3x8bm8-StyledDropdownButton-button-default-caret-caretDown {
    background-color: var(--background-light1) !important;
    box-shadow: none !important;
}

.css-3x8bm8-StyledDropdownButton-button-default-caret-caretDown:hover, .css-3x8bm8-StyledDropdownButton-button-default-caret-caretDown[aria-expanded="true"] {
    color: var(--highlight) !important;
}

.css-mq9k9r-WorkflowCardContainer-card {
    background-color: var(--background-light) !important;
    box-shadow: rgba(5, 5, 5, 0.15) 0px 4px 12px 6px !important;
}

.css-1c38qq-CardCollection {
    color: var(--light) !important;
}

.css-ttavbp-CardTitle {
    color: var(--highlight) !important;
}

.css-1owkb8p-CardButtonContainer {
    background-color: var(--background-light) !important;
}

.css-14ow4vo-DeleteButton-button-button {
    background-color: rgb(71 24 24) !important;
    color: rgb(255, 0, 59) !important;
    transition: background-color 0.2s ease-in-out !important;
}

.css-14ow4vo-DeleteButton-button-button:hover {
    background-color: hsl(0 49% 25% / 1) !important;
}

.css-xwbujn-PublishButton-button-button-disabled {
    background-color: var(--highlight-transparent) !important;
    color: #90d95b !important;
    transition: background-color 0.2s ease-in-out !important;
}

.css-xwbujn-PublishButton-button-button-disabled:hover {
	background-color: #90d95b99 !important;
}

.css-xwbujn-PublishButton-button-button-disabled[disabled] {
    background: var(--background-light1) !important;
    color: #8b8b8b !important;
}

.css-lhns9r-column-columnHovered-WorkflowList {
    border-color: #fc0 !important;
}
.css-67qw53-column-columnHovered-WorkflowList {
    border-color: #d6395b !important;
}

.css-16ehlzb-column-columnHovered-WorkflowList {
	border-color: #87cc52 !important
}

.css-lhns9r-column-columnHovered-WorkflowList::before, .css-lhns9r-column-columnHovered-WorkflowList::after {
    background-color: var(--highlight-transparent) !important;
}

.css-fkrj39-ToolbarButton-button-default-buttonMargin-noOverflow-SaveButton-lightBlue-disabled {
    background-color: #ffcc0030 !important;
    color: #ffcc00 !important;
}

.css-16yjsp8-StyledDropdownButton-button-default-caret-caretDown-DropdownButton-noOverflow-StatusButton {
    background-color: #5ad8e630 !important;
    color: #5ad8e6 !important;
}

.css-o6hjv6-StyledDropdownButton-button-default-caret-caretDown-DropdownButton-noOverflow-PublishButton {
    background-color: var(--highlight-transparent) !important;
    color: var(--highlight) !important;
}

.css-1v85yfi-DropdownList-dropdownList-DropdownList {
    color: var(--light) !important;
    background-color: #0000003d !important;
    backdrop-filter: blur(8px) !important;
    box-shadow: rgba(5, 5, 5, 0.15) 0px 4px 12px 6px !important;
    outline: 2px solid #ffffff0f;
}

.css-emf8sj-button-dropdownItem-StyledMenuItem-StatusDropdownItem:focus, .css-emf8sj-button-dropdownItem-StyledMenuItem-StatusDropdownItem:active, .css-emf8sj-button-dropdownItem-StyledMenuItem-StatusDropdownItem:not(:focus), .css-emf8sj-button-dropdownItem-StyledMenuItem-StatusDropdownItem:not(:active) {
    border-bottom: none;
    border-left: 4px solid transparent !important;
}

.css-1qvjlo1-StyledDropdownButton-button-default-caret-caretDown-DropdownButton-noOverflow-PublishedToolbarButton-publishedButton {
    background-color: var(--highlight-transparent) !important;
    color: var(--highlight) !important;
}

.css-19jx0qf-ToolbarButton-button-default-buttonMargin-noOverflow-DeleteButton-lightRed {
	background-color: hsl(0 34% 19% / 1) !important;
	color: rgb(255, 0, 59) !important;
}