---
title: AxisFlying Manta 5 SE V2
url: https://www.axisflying.com/products/manta-5-se-v2-frame-kit-performance-evolved?VariantsId=10332
order: 3
color: warning
price: $49.90
image: axisflying-manta-5-se-v2.jpg
tags:
  - ~172g (DC)
  - ~155g (X)
  - 6mm Arms (DC)
  - 5.5mm Arms (X)
  - "3/3/2mm Plates<Bottom/Mid/Top>"
  - Aluminum Cam Cage
  - 14-mm Cams
  - 20/30.5mm Stacks
  - 20x20 VTXs
---
AxisFlying mostly focused on the high end frame market for a while, that changed with the Manta 5 SE. Over its lifespan, it evolved into a really capable frame for its price, with many features sticking around from their premium options. My only complaint is that it's hard to tag :D.
