---
title: Builds
description: Get parts for your first build, or inspiration for your next one!
seoDescription: Compatible FPV drone parts lists for your first build, or inspiration for your next one, with practical specs and guidance.
---
Bind and Fly (BNF) drones have gotten a lot better since I first started flying and eventually writing this site. But building your own is still my recommended way to get started. You learn a lot about how everything goes together and how it all works when you do it yourself. And when it breaks, you already have all the tools and knowledge to fix it.

This page hosts lists of parts for all sorts of different builds, picked to be compatible with each other, and to be of good quality. Every item is indicated with a price range respective to the total build cost, lists the most important specs, and offers a concise description. You can view images of the parts, and add them to a shopping list as you go to sum up the total price.
