---
title: 7-8" LR
price: "~$350"
order: 3
image: /builds/S1V5.svg
model: mario8
color: error
features:
  - title: Weight
    description: 1-1.5kg
    icon: weight
  - title: Stack Mounting
    description: 30x30
    icon: ruler
  - title: VTX Mounting
    description: 20x20/zipties
    icon: ruler
  - title: Flight Time
    description: ~20-30 min
    icon: battery
  - title: Range
    description: ~5-15 km
    icon: signal
---

<!-- Specced out to be easy to assemble, with affordable and accessible parts and electronics that should be easy to solder. This build should be perfect to get you started in the world of FPV. -->

Made to carry an action camera and large 6s 2p/3p batteries, this build is perfect for long range flights, mountain diving action, and steady cinematic footage.