---
title: T-Motor Velox V3
url: https://www.t-hobby.com/products/tmotor-velox-v2207-v3-motor
order: 1
color: success
price: $13.99
image: t-motor-velox-v3.webp
tags:
  - "2207/2306<Stator size>"
  - 1750/1950/2050KV
  - 35.2g
---
TMotor have great hardware across a wide price range, the Velox series is their budget lineup which will also pop up further down this list. It holds up really well in all the testing and abuse I've seen, and you can add a splash of color to your build based on the kv you choose.
