@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Reem Kufi, Reem Kufi, sans-serif;
  }
  .caveat {
    font-family: 'Caveat', cursive;
  }
}

@layer components {
  .nav-active {
    @apply h-14 bg-highlight dark:bg-highlight-dark w-32 flex items-center pr-[60px] relative rounded-l-2xl pl-4 my-2
        after:content-[''] after:absolute after:bg-transparent after:left-24 after:bottom-14 after:w-8 after:h-8 after:rounded-full after:-z-10 
        dark:after:shadow-[-1rem_1rem_0px_#0f0f0f,8px_13px_0px_#1cd167] after:shadow-[-1rem_1rem_0px_#eeeeee,8px_13px_0px_#90d95b]
        before:content-[''] before:absolute before:bg-transparent before:left-24 before:top-14 before:w-8 before:h-8 before:rounded-full before:-z-10 
        dark:before:shadow-[-1rem_-1rem_0px_#0f0f0f,8px_-13px_0px_#1cd167] before:shadow-[-1rem_-1rem_0px_#eeeeee,8px_-13px_0px_#90d95b]
  }
  .nav {
    @apply h-14 w-32 flex items-center pr-[60px] relative pl-4 my-2
  }
  .collapsible.faq-active {
    @apply after:content-['-'] translate-x-1
  }
  .collapsible {
    @apply after:content-['+']
  }
  /* defeats the point of tailwind but idk any other way */

  .Starting.cat {
    @apply text-violet border-violet
  }
  .Starting {
    @apply order-1
  }
  .Starting.faq-active  {
    @apply text-violet
  }
  .Starting.collapsible {
    @apply hover:text-violet
  }


  .Building.cat {
    @apply text-red border-red
  }
  .Building {
    @apply order-2
  }
  .Building.faq-active  {
    @apply text-red
  }
  .Building.collapsible {
    @apply hover:text-red
  }

  .Betaflight.cat {
    @apply text-yellow border-yellow
  }
  .Betaflight {
    @apply order-3
  }
  .Betaflight.faq-active  {
    @apply text-yellow
  }
  .Betaflight.collapsible {
    @apply hover:text-yellow
  }

  .Video.cat {
    @apply text-green border-green
  }
  .Video {
    @apply order-4
  }
  .Video.faq-active  {
    @apply text-green
  }
  .Video.collapsible {
    @apply hover:text-green
  }

  .Radio.cat {
    @apply text-cyan border-cyan
  }
  .Radio {
    @apply order-5
  }
  .Radio.faq-active  {
    @apply text-cyan
  }
  .Radio.collapsible {
    @apply hover:text-cyan
  }

  .Hardware.cat {
    @apply text-blue border-blue
  }
  .Hardware {
    @apply order-6
  }
  .Hardware.faq-active  {
    @apply text-blue
  }
  .Hardware.collapsible {
    @apply hover:text-blue
  }
}